[Unit]
Description=Bluetooth speaker agent

[Service]
Environment=PYTHONUNBUFFERED=1
ExecStart=python speaker-agent.py

[Install]
WantedBy=default.target
